<link rel="stylesheet" href="nav-bar.component.css">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Medicine Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse"[ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="accountService.currentUser$|async">
            <li class="nav-item" >
              <a class="nav-link" (click)="isMenuCollapsed = true" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="isMenuCollapsed = true" href="#">Medicine Cabinet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"(click)="isMenuCollapsed = true" href="#">Patients</a>
            </li>
          </ng-container>
          
        </ul>
        <div class="dropdown"*ngIf="accountService.currentUser$| async" dropdown>
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome user</a>
          <div class="dropdown-menu mt-3"*dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item"(click)="logout()">Logout</a>
          </div>
        </div>
        <form *ngIf="!(accountService.currentUser$|async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="on" >
          <input 
            name="email"
            [(ngModel)]="model.email"
            class="form-control me-2"
            type="username"
            placeholder="Username"
            aria-label="Username"
            spellcheck="false" data-ms-editor="true">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Passward"
            aria-label="Passward"
            spellcheck="false"
            data-ms-editor="true">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav>

 